style 
    include index.css
#contact-grid.content-grid.mdl-grid
    #contact-header.mdl-cell
        include components/header.pug
    #contact-content.content-grid.mdl-grid
        .content-card.mdl-cell.mdl-cell--6-col
            include components/railway.pug
        .content-card.mdl-cell.mdl-cell--6-col
            include components/airport.pug