style 
    include index.css
#comming-soon-grid.content-grid.mdl-grid
    #comming-soon-card.mdl-cell
        #comming-soon-card.mdl-card
            h2#comming-soon-title SOON
            h4#comming-soon-support This Page is under development