style 
    include index.css
#submission-grid.content-grid.mdl-grid
    .content-grid.mdl-grid
        .content-card.mdl-cell
            include components/content.pug
        .content-card.mdl-cell
            include components/topics1.pug
        .content-card.mdl-cell
            include components/topics2.pug