style 
    include index.css
#submission-grid.content-grid.mdl-grid
    .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
            include components/content.pug
        .mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
            include components/topics1.pug