style 
    include index.css
#commiittee-grid.content-grid.mdl-grid
    .commiittee-content.content-card.mdl-cell
        include components/advisory.pug
    .commiittee-content.content-card.mdl-cell
        include components/program.pug
    .commiittee-content.content-card.mdl-cell
        include components/organising.pug