style 
    include index.css
#commiittee-grid.content-grid.mdl-grid
    .commiittee-content.content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        include components/colum1.pug
    .commiittee-content.content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        include components/colum2.pug
    .commiittee-content.content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        include components/colum3.pug