.mdl-layout__drawer {
    position: fixed;
    z-index: 12;
    top: 0; left: 0;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.mdl-layout__header-row {
    background: #03A9F4;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 10;
}

.mdl-layout__header-row
.mdl-navigation__link {
    text-transform: uppercase;
    font-weight: bold;
}