style 
    include index.css
#register-grid.content-grid.mdl-grid
    .commiittee-content.content-card.mdl-cell.mdl-cell--6-col
        include components/colum1.pug
    .commiittee-content.content-card.mdl-cell.mdl-cell--6-col
        include components/colum2.pug