#home-grid {
    margin-top: 16px;
}

#home-card {
    background: transparent;
    text-align: center;
    width: 100%;
    margin-top: 0px;
}

#header-title {
    font-size: 96px;
    font-weight: bolder;
    color: #ffffff;
    margin-top: 120px;
}

#header-text {
    font-weight: 100;
    color: #ffffff;
}

#header-support {
    font-weight: 100;
    font-size: 12px;
    margin-top: -18px;
    text-align: center;
    opacity: 0.87;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

#header-topleft {
    position: absolute;
    top: -60px; left: 0;
    height: 196px;
}

#header-bottomright {
    position: absolute;
    bottom: 0; right: 8px;
    height: 112px;
}

#header-bottomleft {
    position: absolute;
    bottom: 0; left: 16px;
    text-align: left;
    color: #ffffff;
}