style 
    include index.css
#home-grid.content-grid.mdl-grid
    #home-card.mdl-cell
        include components/header.pug
    .content-grid.mdl-grid
        .content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
            include components/about.pug
        .content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
            include components/proceedings.pug
        .content-card.mdl-cell.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
            include components/dates.pug