.content-grid.mdl-grid
    .content-grid.mdl-grid
        .content-card.mdl-cell.mdl-cell--12-col
            .mdl-card.mdl-shadow--2dp
                .mdl-card__title
                    h2.mdl-card__title-text Intelligent and Soft Sensor for Environment Monitoring
                .mdl-card__supporting-text
                    include ./abstract.html
