#home-card.mdl-card(style="width:100%") 
    style 
        include ../../styles/home.css
    h2#header-title KIIT
    div#header-events
        h4#header-text 
            include ../../texts/home/events.html