.layout-transparent.mdl-layout.mdl-js-layout
header.mdl-layout__header.mdl-layout__header--transparent
    .mdl-layout__header-row.mdl-shadow--4dp
        a.mdl-layout-title(onclick='return page_nav("home")' style='color: #ffffff; margin-top: -2px;') FICTA 2017
        .mdl-layout-spacer
        nav.mdl-navigation
            a.mdl-navigation__link(onclick='return page_nav("home")') Home
            a.mdl-navigation__link(onclick='return page_nav("aboutus")') About Us
            a.mdl-navigation__link(onclick='return page_nav("committee")') Committee
            a.mdl-navigation__link(onclick='return page_nav("submission")') Submission
            a.mdl-navigation__link(onclick='return page_nav("registration")') Registration
            a.mdl-navigation__link(onclick='return page_nav("commingsoon")') Sessions
            a.mdl-navigation__link(onclick='return page_nav("commingsoon")') Speakers
            a.mdl-navigation__link(onclick='return page_nav("contactus")') Contact Us
        main.mdl-layout__content
ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-left')
    li.mdl-menu__item Some Action
    li.mdl-menu__item.mdl-menu__item--full-bleed-divider Another Action
    li.mdl-menu__item(disabled='') Disabled Action
    li.mdl-menu__item Yet Another Action
script.
    function page_nav(page) {
        $(".page").hide();
        $("#page_" + page).show();
    }