div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header.mdl-layout__header--transparent
        div.mdl-layout__header-row.mdl-shadow--4dp
            a.mdl-layout-title(onclick='return page_nav("home")' style='color: #ffffff; margin-top: -2px;') FICTA 2017
            nav.mdl-navigation.mdl-layout--large-screen-only
                a.mdl-navigation__link(onclick='return page_nav("home")') Home
                a.mdl-navigation__link(onclick='return page_nav("aboutus")') About Us
                a.mdl-navigation__link(onclick='return page_nav("committee")') Committee
                a.mdl-navigation__link(onclick='return page_nav("submission")') Submission
                a.mdl-navigation__link(onclick='return page_nav("registration")') Registration
                a.mdl-navigation__link(onclick='return page_nav("schedule")') Schedule
                    img(src="index.gif" width="50") 
                a.mdl-navigation__link(onclick='return page_nav("downloads")') Downloads
                a.mdl-navigation__link(onclick='return page_nav("contactus")') Contact Us
            div.mdl-layout-spacer
            button#menu-nav.mdl-button.mdl-js-button.mdl-button--icon.mdl-layout--small-screen-only
                i.material-icons more_vert
            ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effectO(for="menu-nav")
                a.mdl-menu__item(onclick='return page_nav("home")') Home
                a.mdl-menu__item(onclick='return page_nav("aboutus")') About Us
                a.mdl-menu__item(onclick='return page_nav("committee")') Committee
                a.mdl-menu__item(onclick='return page_nav("submission")') Submission
                a.mdl-menu__item(onclick='return page_nav("registration")') Registration
                a.mdl-menu__item(onclick='return page_nav("schedule")') Schedule
                    img(src="index.gif" width="50") 
                a.mdl-menu__item(onclick='return page_nav("downloads")') Downloads
                a.mdl-menu__item(onclick='return page_nav("contactus")') Contact Us
ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect(for="sessions-menu")
  .mdl-menu__item(onclick='return page_nav("sessions_special")') Special Sessions
script.
    function page_nav(page) {
        $(".page").hide();
        $("#page_" + page).show();
    }