include partial-speaker.pug
style 
    include index.css
.content-grid.mdl-grid
    .content-card.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        +speaker('Prof Yen-Wei Chen', 'Japan', "assets/speakers/Yen-Wei Chen.jpg", "Medical Image Analysis with Deep Learning", "assets/files/Medical Image Analysis with Deep Learning.docx", false)   
    .content-card.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        +speaker('Prof Sheryl Brahman', 'USA', "assets/speakers/Sheryl Brahnam.jpg", "Building general-purpose (GP) ensemble systems with heterogeneous ensembles and deep learners", "assets/files/Building general-purpose (GP) ensemble systems with heterogeneous ensembles and deep learners.doc", false)
    .content-card.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        +speaker('Prof Mika Sato-Ilic', 'Japan', "assets/speakers/Sato-Ilic.jpg", "Cluster-Scaled Intelligent Data Analysis", "", false)   
    .content-card.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        +speaker('Prof Peter Ilic', 'Japan', "assets/default.jpg", "Information and Communications Technology in Education", "assets/files/Information and Communications Technology in Education.doc", false)   
    .content-card.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
        +speaker('Prof Milan Simic', 'Australia', "assets/speakers/Milan Simic.jpg", "Transitions to Electrical and Autonomous Vehicles", "assets/files/Transitions to Electrical and Autonomous Vehicles.pdf", false)