include partial-speaker.pug
style 
    include index.css
.content-grid.mdl-grid
    .content-card.mdl-cell.mdl-cell--4-col
        +speaker('Gautam Sanyal', 'Former Dean (AA & RG, SW, FW), Presently Head of the Department Comp. Sc. & Engg., NIT, Durgapur ', "assets/speakers/Sanyal.jpg", "Vision based on Bio-metrics Features", "http://www.nitdgp.ac.in/cc/g_sanyal/g_sanyal.php", false)
    .content-card.mdl-cell.mdl-cell--4-col
        +speaker('Kamiya Khatter', 'Sr. Editorial Assistant at Springer Nature', "assets/speakers/Kamiya.jpg", "Author Services and Tools", "https://www.linkedin.com/in/kamiya-khatter-84919114/?ppe=1", false)   
    .content-card.mdl-cell.mdl-cell--4-col
        +speaker('Siba K Udgata', 'Professor, School of Computer and Information Sciences, University of Hyderabad, Hyderabad, India', "assets/speakers/Udgata.jpg", "Intelligent and Soft Sensor for Environment Monitoring", "", true)