#home-card.mdl-card
    h2#header-title FICTA 2017
    h4#header-support 6th International Conference on <br>Frontiers of Intelligent Computing: Theory and applications (FICTA)
    h4
        marquee(style="color:red") The venue for FICTA 2017 has shifted from Campus 3 to Campus 6, Convention Center.
    img#header-topleft(src="assets/logo_springer.png")
    img#header-bottomright(src="assets/logo_kiit.png")
    div#header-bottomleft
        span#header-bottomleft-text 
            include ../texts/organised.html
    div#header-bottomcenter
        form(action='https://easychair.org/conferences/?conf=ficta2017' method='post')
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit') Submit Paper
    div#header-events
        h4#header-text 
            include ../texts/events.html