#home-card.mdl-card
    h2#header-title FICTA 2017
    h4#header-support Frontiers of Intelligent Computing: Theory and Applications
    img#header-topleft(src="assets/logo_springer.png")
    img#header-bottomright(src="assets/logo_kiit.png")
    div#header-bottomleft
        span#header-bottomleft-text Proceedings will be Published by Springer <br> Organised by <br> KIIT School of Computer Application <br> KIIT School of Engineering
    div#header-events
        h4#header-text 
            include ../texts/events.html