.mdl-card.mdl-shadow--2dp
	.mdl-card__title
		h2.mdl-card__title-text Paper Submission 
	.mdl-card__supporting-text
		include ../texts/paper-publish.html
	.mdl-card__actions.mdl-card--border
		a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Submit Paper
