style 
    include index.css
#contact-grid.content-grid.mdl-grid
    #contact-content.content-grid.mdl-grid
        .content-card.mdl-cell.mdl-cell--6-col
            include components/schedule1.pug 
        .content-card.mdl-cell.mdl-cell--6-col
            include components/schedule2.pug