.mdl-card.mdl-shadow--2dp
	#about-sca-header.mdl-card__title.mdl-card--expand
		h2.mdl-card__title-text About School of Computer Application
	.mdl-card__supporting-text
		include ../texts/about-sca.html