style 
    include index.css
#about-grid.content-grid.mdl-grid
    .content-grid.mdl-grid
        .about-content.content-card.mdl-cell.mdl-cell--6-col
            include components/images.pug
        .about-content.content-card.mdl-cell.mdl-cell--6-col
            include components/kiit.pug