.mdl-card.mdl-shadow--2dp
	.mdl-card__title
		h2.mdl-card__title-text Information
	.mdl-card__supporting-text
		include ../texts/content.html
	.mdl-card__actions.mdl-card--border
		a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='https://easychair.org/conferences/?conf=ficta2017') Submit Paper
